body { font-family: Verdana, Tahoma, Arial; font-size: 10pt; }
h1   { font-size: 16pt; font-weight: bold; border-bottom: solid 1px #000080; }
h2   { font-size: 12pt; font-weight: bold; border-bottom: solid 1px #000080; }
h3   { font-size: 10pt; font-weight: bold; }
